#header{
	height:45px;
	width:1200px;
	float:right;
	text-align:center;
	background-image:url("../../images/weatheredwood.jpg");
	/*A custom shade of brown*/
	background-color:#5C3317;
	color:White;
	/*border-style:solid;
	border-color:Black;
	border-width:1px;*/
}

#footer{
    height:45px;
	width:1200px;
	float:right;
	text-align:center;
	background-image:url("../../images/weatheredwood.jpg");
	/*A custom shade of brown*/
	background-color:#5C3317;
	color:White;
	/*border-style:solid;
	border-color:Black;
	border-width:1px;*/
}

/*#menuContentContainer
{
 width:100%;
 height:88%;
 padding-top:1%;
 padding-bottom:1%;
}*/

#menu{
    height:810px;
    width:120px;
    float:left;
	text-align:center;
	background-image:url("../../images/weatheredwood.jpg");
	/*A custom shade of brown*/
	background-color:#5C3317;
	color:White;
	/*border-style:solid;
	border-color:Black;
	border-width:1px;*/
}

#content{
	height:810px;
	width:1080px;
    text-align:center;
	float:right;
	background-image:url("../../images/content.png");
	color:White;
	background-color:Green;
	/*border-style:solid;
	border-color:Black;
	border-width:1px;*/
}

#container
{
   /*border-style:dotted;
   border-color:White;
   border-width:3px;*/
   margin-right:auto;
   margin-left:auto;         
}

body
{
    height:900px;
    width:1200px;
    background-color:Black;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

table
{
    margin-left:auto;
    margin-right:auto;
    border-color:Green; 
    border-width:3px;
    border-style:dashed;
}

tr
{
    background-color:Green;
    color:White;
}