#header{
	text-align:center;
	height:10%;
	width:85%;
	background-image:url('images/weatherwood.jpg');
	color:white;
}

#footer{
	text-align:center;
	height:10%;
	width:85%;
	background-image:url('images/weatherwood.jpg');
	color:white;
}

#menu{
    text-align:left;
	width:15%;
	height:100%;
	margin:0 85% 0 0;
	background-image:url('images/bamboo.jpg');
	color:grey;
}

#content{
	width:85%;
	height:80%;
	background-image:url('images/weatherwood.jpg');
	color:white;
}