﻿body
{
    font-family: Verdana;
    font-size: xx-large;
}

#menu
{
    width: 200px;
    height: 300px;
    color: Blue;
    background-color: Fuchsia;
}

#content
{
    position: relative;
    left: 200px;
    top: -300px;
}

.banner
{
    width: 800px;
    height: 100px;
    color: Red;
    background-color: Gray;
}

.footer
{
    width: 800px;
    height: 100px;
    color: Red;
    background-color: Gray;
    position: relative;
    top: -50px;
}